faiss-cpu==1.9.0.post1
gradio==5.6.0
gradio_client==1.4.3
langchain==0.3.8
langchain-community==0.3.8
langchain-core==0.3.21
langchain-groq==0.2.1
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.2